<%- include('./partials/header') %>
<section>
    <section>
        <h1>
            Diksha Design Boutique
        </h1>
        <p>
            We stich dreams 
        </p>
    </section>
</section>
<%- include('./partials/footer') %>